/* ELEMENT STYLES -------------------- */
body {
  background: #333;
  font-family: arial;
  text-transform: uppercase;
}

/* ICONS */
svg {
  width: 28px;
  height: 19px;
  margin-right: 5px;
  fill: #F0F0F0;
}

.is-high-score {
  fill: #FFC657;
  animation: grow 0.35s ease-in-out;
  transform-origin: 50% 50%;
}

@keyframes grow {
  50% {
    transform: scale(1.4) rotate(-3deg);
  }
}

/* COMPONENT STYLES -------------------- */
.aryas-list {
  background: #fff;
  width: 700px;
  margin: 70px auto;
  box-shadow: 0 2px 0 maroon;
  border-radius: 6px;
  /* overflow: hidden; */
}

.counter-score {
  flex-grow: 1;
  text-align: center;
  font-family: monospace;
  font-size: 2em;
  line-height: 2em;
}